* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

.navigation-bar {
  display: flex;
  background: transparent;
  backdrop-filter: blur(2rem);
  align-items: center;
  position: fixed;
  padding: 2rem 8rem;
  width: 100%;
  justify-content: space-around;
  z-index: 2;
}

body {
  background: rgb(8, 2, 18);
}

.nav-bar ul {
  display: flex;
}

.nav-bar li {
  list-style: none;
}

.logo {
  text-decoration: none;
  background: linear-gradient(to right, #00CFFF, #B300FF);
  color: transparent;
  background-clip: text;
}

.nav-bar a {
  color: #fff;
  margin: 1.5rem;
  text-decoration: none;
  
}

.nav-bar a:hover {
  text-decoration: underline;
}

.nav-log a {
  background: linear-gradient(to right, #00CFFF, #B300FF);
  color: #fff;
  margin: 1rem;
  border-radius: 0.9rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-bar .button {
  background: linear-gradient(to right, #00CFFF, #B300FF);
  padding: 0.5rem 1rem;
  height: 3.5rem;
  width: 12rem;
  border-radius: 0.9rem;
 
}

.hero {
  background: url(photos/hero-section2.png) no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  color: #fff;
  text-align: center;
  align-items: center;
}

.hero h1 {
  background: linear-gradient(to right, #00CFFF, #B300FF, #00CFFF);
  color: transparent;
  background-clip: text;
  padding-top: 10%;
  padding-left: 18rem;
  font-size: 6rem;
  width: 90rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

.hero p {
  margin: 2%;
  font-size: 2rem;
}

.hero > div:first-child {
  display: flex;
  gap: 0.05rem;
}

.live {
  background: transparent;
  color: #00CFFF;
  border-radius: 0.9rem;
  border: solid 0.2rem #00CFFF;
  padding: 1rem 1rem;
  font-size: 1rem;
}

.start {
  background: linear-gradient(to right, #00CFFF, #B300FF);
  padding: 1rem 1rem;
  border-radius: 0.9rem;
  margin: 2%;
  color: #fff;
  font-size: 1rem;

}

hr {
  border: 0;
  height: 0.3rem;
  width: 100%;
  background: linear-gradient(to right, #151515, #00CFFF, #161717);
  border-radius: 0.5rem;
}

.footer-section {
  color: #fff;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.slide {
  padding: 3rem 14rem;
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.slide .side p {
  margin: 0.5rem;
  width: 30rem;
}

.logo-footer {
  background: linear-gradient(to right, #00CFFF, #B300FF);
  color: transparent;
  background-clip: text;
}

.pri a {
  margin: 1rem;
}

.icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon i {
  font-size: 2.5rem;
}

.icons {
  font-size: 2rem;
}

/* cta */
.cta{
display: flex;
flex-direction: column;
background: url(photos/Screenshot\ 2025-10-14\ 114435.png);
background-size: cover;
background-position: center;
gap: 20px;
color:black;
align-items: center;
justify-content: center;
padding: 10rem ;

}

.cta-card{
    color: white;
    background-color: #192A3A;
    background: transparent;
    backdrop-filter: blur(4rem);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #47cce9  ;
    border-radius: 20px;
    width: 60vw;
    height: 50vh;
    gap: 2rem;
}
.cta-card button{
    background: linear-gradient(to right,#00CFFF,#B300FF);
    padding: 1rem 1.3rem;
    border-radius: 0.9rem;
    color: #fff;
}
.cta-card p{
width: 35rem;
}



/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* the cards */
.tour-section{
    background: #000000;
    
    display: flex;
      height: 50rem;
        flex-direction: column;
        color: #fff;
                


    padding:  0 6rem ;
    
}
.tour-section h2{
    background: linear-gradient(to right,#00CFFF,#B300FF);
    color: transparent;
    background-clip: text;
   margin: 2rem;
}
.test {
    text-align: center;
    margin-top: 2rem;
    
}
.tast{
    margin: 4rem;
    display: flex;
    justify-content: space-between;
}
.card {
  
   background: transparent;
   backdrop-filter: blur(2rem);
  border: 0.1rem solid #55616e;
  border-radius: 1.3rem;
  width: 20rem;
  
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  padding-bottom: 1rem;
  color: #fff;
  
  
  
}
.card img{
      width: 100%;
  height: 15rem;
  object-fit: cover;
  border-bottom:  solid #007bff;
 
}
.card a {
    padding: 0.5rem 1rem  ;
    background: linear-gradient(to right,#00CFFF,#B300FF);
    border-radius: 0.9rem;
    width: 90%;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin:  0 1rem;
    
   
    
}
.info-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 1rem;
   

}
/* games section */
.games-title{
    text-align: center;
}
.games-info{
    display: flex;
    justify-content: space-around;
}
.games-info i{
margin: 1rem 0;
}
.mamber{
    color: #007bff
    
}
.medal{
    color: #B300FF;
}
.join{ 
    background: transparent !important;
  color: #B300FF !important;
  border-radius: 0.6rem !important;
  border: solid 0.2rem #B300FF;
  padding: 1rem 1rem;
  font-size: 1rem;}


